__pycache__/
*.pyc
*.pyo
*.pyd
env/
*.log
.venv/
.git/
.gitignore
Dockerfile
docker-compose.yml
*.db
*.sqlite3
*.ipynb
.cache
.langgraph_api
vector_store.py
simplechatagent.py
retriever_tool_test.py
pdf_embed.py
main.py