python-dotenv
langgraph
langchain_core
langchain_community
psycopg2
psycopg-pool
langchain_google_genai
psycopg[binary]
sqlalchemy
uvicorn
fastapi[standard]
langgraph-cli[inmem]
qdrant-client
langchain_qdrant
# langchain_huggingface
langgraph-checkpoint-postgres
pydantic
asyncpg
pymupdf
tiktoken
